version: '3.8'

services:
  app:
    build: .
    ports:
      - "3011:3011"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
      - ./database.sqlite:/app/database.sqlite
    restart: always